@import './colors';

$padding: 80px;
$transition: 0.3s;

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Apercu', sans-serif;
    padding: 0;
    margin: 0;
}

::selection {
    background-color: $primary;
    color: #000000;
}

.main {
    position: relative;
}

/* Nav Bar */
.nav {
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
    // background-color: $primary;
    color: #000000;
    padding: 15px $padding;

    .logo {
        width: 65%;

        span {
            font-size: 28px;
            text-align: left;
            font-weight: bold;
            color: #5c5858;
        }
    }


    .nav-links {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: flex-start !important;

        a {

            text-decoration: none;
            color: inherit;
            font-size: 20px;
            transition: $transition;
            width: 25%;

            &:nth-child(1),
            &:nth-child(2) {
                width: 22% !important;
            }



            &:hover {
                filter: opacity(0.6);
            }
        }
    }
}

.header {
    background: $primary;
    background: linear-gradient(to bottom, $primary 8%, $primary_grad-2 92%);
    max-width: 1366px;
    margin: auto;
    height: 600px;
    padding: 0 $padding;
    overflow: hidden;

    .content {
        display: flex;
        .image {
            width: 40%;
            // background: #feee03;
            border-radius: 0px;
            // background: linear-gradient(225deg, $primary, $primary_grad-2);
            // box-shadow:  22px 22px 28px #f1e203, 
            // -22px -22px 28px #fffa03;
            // width: 450px;

            img {
                width: 520px;
                height: 600px;
            }
        }

        .note {
            // border-radius: 43px;
            background: #feee03;
            background: linear-gradient(to bottom, $primary_grad 8%, $primary_grad-2 92%);
            box-shadow: 28px 28px 57px #6d6d6a,
                -28px -28px 57px #ffff03;
        }
    }
}